<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">To do List</h1>
      <p class="text-center lead">Suas tarefas estão abaixo</p>

      <%- include('includes/messages') %>

      <% if(tarefas.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <% tarefas.forEach(tarefa => { %>

          <tr>
            <td><%= tarefa.titulo %></td>
            <td><%= tarefa.resumo %></td>
            <td><%= tarefa.paraDia %></td>
            <td><a href="/tarefa/index/<%= tarefa._id %>">Editar</a></td>
            <td><a class="text-danger" href="/tarefa/delete/<%= tarefa._id %>">Excluir</a></td>
          </tr>
          <% }); %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem tarefas na sua To do List.</p>
      <% } %>

    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
